{% block header %}
<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="font-size: 3em" href="{{ path('home') }}"><img
                    src="{{ asset('build/images/logo.png') }}" alt="n2p logo">Noob2Pro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarColor02">
            <ul class="navbar-nav ml-auto" id="navbarButtons">
                <button onclick="window.location.href = '{{ path('register') }}';" type="button" class="btn btn-outline-primary btn-lg" style="margin: 6px; width: 9.5em;">SIGN
                    UP
                </button>
                <button type="button" class="btn btn-outline-primary btn-lg" style="margin: 6px; width: 9.5em">CREATE A
                    PAGE
                </button>
                <button onclick="window.location.href = '{{ path('login') }}';" type="button" class="btn btn-primary btn-lg" style="margin: 6px; width: 9.5em">SIGN IN</button>
            </ul>
            <div>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter-square fa-4x" style="color: #375A7F; margin: 6px"></i>
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook-square fa-4x" style="color: #375A7F; margin: 6px"></i>
                </a>
            </div>
        </div>
    </nav>
</header>
{% endblock %}