{% extends 'base.html.twig' %}

{% block title %}Accueil | Noob2Pro{% endblock %}

{% block body %}

    <div>

    <br/>

    <div class="row">
        <div class="m-auto col-md-9 text-center">
            <h6>SOCIAL NETWORK FOR GAMERS, COSPLAYERS, STREAMERS, BROADCASTERS, TEAMS, AND MORE</h6>
            <h1>SHARE THE BEST OF YOU</h1>
        </div>

        <div class="col-md-3" style="background-color: #2B4764">
            <form class="d-flex justify-content-center">



                <div class="col-md-8">
                    <br/>
                    <legend style="text-align: center">JOIN US FOR FREE</legend>
                    <br/>
                    <div>
                        <input type="email" class="form-control " id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <br/>
                    <div class="form-group">
                        <input type="password" class="form-control " id="exampleInputPassword1"
                               placeholder="Password">
                    </div>
                    <br/>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg">TAKE-OFF</button>
                    </div>
                    <br/>
                </div>
            </form>
        </div>
    </div>

    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <br/>
    </div>
{% endblock %}
