{% extends 'base.html.twig' %}

{% block title %}Legal Notice | Noob2Pro{% endblock %}

{% block body %}

    <h1>Legal Notice</h1>

    <p> Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam
        conciliavit ipsa natura, ita contracta res est et adducta in angustum ut omnis caritas aut inter duos aut inter
        paucos iungeretur.

        Ipsam vero urbem Byzantiorum fuisse refertissimam atque ornatissimam signis quis ignorat? Quae illi, exhausti
        sumptibus bellisque maximis, cum omnis Mithridaticos impetus totumque Pontum armatum affervescentem in Asiam
        atque erumpentem, ore repulsum et cervicibus interclusum suis sustinerent, tum, inquam, Byzantii et postea signa
        illa et reliqua urbis ornanemta sanctissime custodita tenuerunt.

        Et licet quocumque oculos flexeris feminas adfatim multas spectare cirratas, quibus, si nupsissent, per aetatem
        ter iam nixus poterat suppetere liberorum, ad usque taedium pedibus pavimenta tergentes iactari volucriter
        gyris, dum exprimunt innumera simulacra, quae finxere fabulae theatrales.

        Excitavit hic ardor milites per municipia plurima, quae isdem conterminant, dispositos et castella, sed quisque
        serpentes latius pro viribus repellere moliens, nunc globis confertos, aliquotiens et dispersos multitudine
        superabatur ingenti, quae nata et educata inter editos recurvosque ambitus montium eos ut loca plana persultat
        et mollia, missilibus obvios eminus lacessens et ululatu truci perterrens.

        Quo cognito Constantius ultra mortalem modum exarsit ac nequo casu idem Gallus de futuris incertus agitare
        quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes de industria milites agentes in
        civitatibus perviis.

        Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat. Numne, si Coriolanus
        habuit amicos, ferre contra patriam arma illi cum Coriolano debuerunt? num Vecellinum amici regnum adpetentem,
        num Maelium debuerunt iuvare?

        Huic Arabia est conserta, ex alio latere Nabataeis contigua; opima varietate conmerciorum castrisque oppleta
        validis et castellis, quae ad repellendos gentium vicinarum excursus sollicitudo pervigil veterum per oportunos
        saltus erexit et cautos. haec quoque civitates habet inter oppida quaedam ingentes Bostram et Gerasam atque
        Philadelphiam murorum firmitate cautissimas. hanc provinciae inposito nomine rectoreque adtributo obtemperare
        legibus nostris Traianus conpulit imperator incolarum tumore saepe contunso cum glorioso marte Mediam urgeret et
        Parthos.

        Nam quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor mirabilia quaedam (sed nihil est quod
        illi non persequantur argutiis): partim fugiendas esse nimias amicitias, ne necesse sit unum sollicitum esse pro
        pluribus; satis superque esse sibi suarum cuique rerum, alienis nimis implicari molestum esse; commodissimum
        esse quam laxissimas habenas habere amicitiae, quas vel adducas, cum velis, vel remittas; caput enim esse ad
        beate vivendum securitatem, qua frui non possit animus, si tamquam parturiat unus pro pluribus.

        Sed maximum est in amicitia parem esse inferiori. Saepe enim excellentiae quaedam sunt, qualis erat Scipionis in
        nostro, ut ita dicam, grege. Numquam se ille Philo, numquam Rupilio, numquam Mummio anteposuit, numquam
        inferioris ordinis amicis, Q. vero Maximum fratrem, egregium virum omnino, sibi nequaquam parem, quod is
        anteibat aetate, tamquam superiorem colebat suosque omnes per se posse esse ampliores volebat.

        Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque
        sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum!
        precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus
        non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa
        detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.</p>


{% endblock %}