<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hello, world!{% endblock %}</title>
        {% block stylesheets %}
            {{encore_entry_link_tags('app')}}
        {% endblock %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="https://kit.fontawesome.com/dc6adfa76a.js" crossorigin="anonymous"></script>



        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('build/images/logo.png') }}" alt="n2p logo">Noob2Pro</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarColor02" >
                <ul class="navbar-nav ml-auto" id="navbarButtons" >
                    <button type="button" class="btn btn-outline-secondary">ABOUT</button>
                    <button type="button" class="btn btn-outline-primary">SIGN UP</button>
                    <button type="button" class="btn btn-outline-primary">CREATE A PAGE</button>
                    <button type="button" class="btn btn-primary">SIGN IN</button>
                </ul>
                <div>
                    <i class="fab fa-twitter-square fa-4x" style="color: #375A7F"></i>
                    <i class="fab fa-facebook-square fa-4x" style="color: #375A7F"></i>
                </div>
            </div>
        </nav>

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
