{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

  <div class="col-md-4 offset-4" style="margin-top: 14em; text-align: center">

    <form class="d-flex flex-column">

      <h2>Create a Page</h2>
      <div class="d-flex flex-wrap">
        <div class="col-md-6">
          <label for="inputEmail" class="sr-only">Email of a Noob2Pro User</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email of a Noob2Pro User" required autofocus>
        </div>
        <div class="col-md-6">
          <label for="inputPageName" class="sr-only">Page Name</label>
          <input type="text" id="inputPageName" class="form-control" placeholder="Page Name" required autofocus>
        </div>
        <div class="col-md-12">
            <label for="inputCategory" class="sr-only">Category</label>
            <input type="text" id="inputCategory" class="form-control" placeholder="Category" required autofocus>
            <label for="inputBirthDate" class="sr-only">Birth Date</label>
            <input type="date" id="inputBirthDate" class="form-control" placeholder="Birth Date" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 1em" type="submit">Sign up</button>
        </div>

      </div>

    </form>

  </div>

{% endblock %}
