{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="col-md-6 offset-3" style="margin-top: 14em; text-align: center">

        <form class="form-signin d-flex flex-column">

            <h2>Sign up</h2>
            <div class="d-flex flex-wrap">
                <div class="col-md-6">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
                           autofocus>
                    <label for="inputFirstName" class="sr-only">First Name</label>
                    <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" required
                           autofocus>
                    <label for="inputBirthDate" class="sr-only">Birth Date</label>
                    <input type="date" id="inputBirthDate" class="form-control" placeholder="Birth Date" required
                           autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <div class="col-md-6">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                    <label for="inputSecondName" class="sr-only">Second Name</label>
                    <input type="text" id="inputSecondName" class="form-control" placeholder="Second Name" required
                           autofocus>
                    <label for="inputGender" class="sr-only">Gender</label>
                    <input type="text" id="inputGender" class="form-control" placeholder="Gender" required autofocus>
                    <label for="inputPasswordConfirmation" class="sr-only">Password Confirmation</label>
                    <input type="password" id="inputPasswordConfirmation" class="form-control"
                           placeholder="Password Confirmation" required>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-lg btn-primary btn-block" style="margin-top: 1em" type="submit">Sign up
                    </button>
                </div>
            </div>


        </form>

    </div> <!-- /container -->

{% endblock %}
